- Admin:
    - AdGuard:
        - href: https://adguard.${SERVER_NAME}
    - Router:
        - href: http://192.168.8.1
    - Jellyfin:
        - href: https://jellyfin.${SERVER_NAME}
    - qBittorrent:
        - href: https://qbittorrent.${SERVER_NAME}
    - Sonarr:
        - href: https://sonarr.${SERVER_NAME}
    - Radarr:
        - href: https://radarr.${SERVER_NAME}
    - Prowlarr:
        - href: https://prowlarr.${SERVER_NAME}
    - Bazarr:
        - href: https://bazarr.${SERVER_NAME}
    - Jellyseerr:
        - href: https://jellyseerr.${SERVER_NAME}
